.project {

    background-color: rgba(26, 196, 196, 0.73);
}

.projectContainer {
    flex-direction: column;
    justify-content: flex-start;
    flex-wrap: nowrap;
}

.title {
    background-color: rgba(41, 211, 211, 0.73);
}

.myProject {
    border: 1px solid;
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

@media screen and (max-width: 1129px){
    .myProject {
        justify-content: center;
    }
}