.project {
    height: 100vh;
    background-color: #ccb88c;
}

.projectContainer {
    align-items: center;
    flex-direction: column;
    justify-content: flex-start;
}

.myProject {
    border: 1px solid;
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}